@{
    Layout = null;
}
@using CSharpProject.Models

<!DOCTYPE html>

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/Scripts/jquery.unobtrusive-ajax.min.js">

</script>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")    
    @Scripts.Render("~/bundles/jqueryui")
</head>
<body>

    <!-- Header Section -->

    <!-- Master Navigation -->

        
    <div class="navbar navbar-inverse " role="navigation">
        <div class="container" >
             <img src="/Content/images/csharp.jpg"  alt="Csharp Tutor" style="float:left"/>

            

            <form action="/Home/Search" method="post">
                <input type="text" name="search" id ="search"/>
               
                <button type="submit" style="background-color:#36dcdc">
                <span class="glyphicon glyphicon-search"></span>&nbsp;Search</button>   
                
            </form>

            <!-- for auto search -->
            <script>
                $(document).ready(function () {
                    $('#search').autocomplete(
                    {
                        source: "/Home/QuickSearch"
                    });
                })

            </script> 

            <ul class="nav navbar-nav" style="float:right">

                <li class="active" style="background-color:#f6b04f; border-bottom-left-radius:10px; border-bottom-right-radius:10px; border-top-right-radius:10px; border-top-left-radius:10px; border-bottom-color:black">
                    <a href="/Home/Index" style="color:whitesmoke"><span class="glyphicon glyphicon-home">&nbsp;Home </span> </a></li>
                <li style="background-color:#f6b04f; border-bottom-left-radius:10px; border-bottom-right-radius:10px; border-top-right-radius:10px; border-top-left-radius:10px; border-bottom-color:black">
                    <a href="/Home/SignUp" style="color:whitesmoke"><span class="glyphicon glyphicon-user">&nbsp;SignUp</span></a></li>
                <li style="background-color:#f6b04f; border-bottom-left-radius:10px; border-bottom-right-radius:10px; border-top-right-radius:10px; border-top-left-radius:10px; border-bottom-color:black">
                    <a href="/Home/Login" style="color:whitesmoke"><span class="glyphicon glyphicon-log-in">&nbsp;Login </span></a></li>
                 <li style="background-color:#f6b04f; border-bottom-left-radius:10px; border-bottom-right-radius:10px; border-top-right-radius:10px; border-top-left-radius:10px; border-bottom-color:black">
                    <a href="/Home/AskQuestion" style="color:whitesmoke"><span class="glyphicon glyphicon-question-sign">&nbsp;Ask a Question</span></a></li>
                <li style="background-color:#f6b04f; border-bottom-left-radius:10px; border-bottom-right-radius:10px; border-top-right-radius:10px; border-top-left-radius:10px; border-bottom-color:black">
                    <a href="/Home/SeeQuestions" style="color:whitesmoke"><span class="glyphicon glyphicon-eye-open">&nbsp;See Questions </span></a></li>

                
                </ul>
            </div>
        </div>



     <div class="container">

           
            
          
            
            <div class="row" >
            

                <!-- Menu -->
             <div class="col-xs-7 col-md-4" style="float:right; background-color:wheat; border:solid; border-color:orangered">
                 <h2>Our top rated posts</h2>
        
          <ul>
          @foreach (Article a in Model)
          {
              <li>
            <a href="#" id="@a.Id">@a.Tags</a>
                  <script>

                      $('#@a.Id').click(function () {

                          $('#ContentofArticles').load("/Home/Content/@a.Id");

                      });


                    </script>

            </li>      
       
          }
              </ul>

             </div>

                <div class="col-xs-6 col-md-4" style="background-color:white; border-color:orangered">
                <div id="ContentofArticles">

                </div>

                <!-- Articles show tag -->


                </div>

                <!-- Menu -->
              </div>

              </div>
         

           <br /><br /><br />
    <br /><br /><br />
    <br />
    
   
   
        <!-- Footer -->

    <footer style="background-color:#f6b04f; border:double; border-color:orangered">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 footer-box wow fadeInUp">
                        <h4 style="color:white"><b>About Us</b></h4>
                        <div class="footer-box-text">
	                        <p style="color:whitesmoke">
	                        	C# Tutor is a Question Answer site for beginners to help them understand basics of C#.
                                It is a single platform offering lectures of C# basics.
	                        </p>
	                        
                        </div>
                    </div>
                    
                    
        
                    <div class="col-sm-3 footer-box wow fadeInDown">
                       
                    </div>
                    <div class="col-sm-3 footer-box wow fadeInUp">
                        
                    </div>
                    <div class="col-sm-3 footer-box wow fadeInDown">
                        <h4 style="color:white"><b>Contact Us </b></h4>
                        <div class="footer-box-text footer-box-text-contact">
	                        <p style="color:whitesmoke"><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;Address: Punjab University College of Information Technology, Allama Iqbal, Old Campus, The Mall road, Lahore</p>
	                       
	                        <p style="color:whitesmoke"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp; Email: bitf12m032@pucit.edu.pk</p>
                        </div>
                        <img src="/Content/images/facebook_40x40.png" alt="Follow me on facebook"/>
                        <img src="/Content/images/twitter-b_40x40.png" alt="Follow me on twitter" />
                    </div>
                </div>
                <div class="row">
                	<div class="col-sm-12 wow fadeIn">
                		<div class="footer-border"></div>
                	</div>
                </div>
                <div class="row">
                    <div class="col-sm-7 footer-copyright wow fadeIn">
                        <p style="color:whitesmoke">&copy; @DateTime.Now.Year - All rights reserved by BITF12M032</p>
                    </div>
                    <div class="col-sm-5 footer-social wow fadeIn">
                        
                        
                    </div>
                </div>
            </div>
        </footer>

    

            
    
</body>
</html>
